.App-container {
  text-align: center;
  display: flex;
}

.App-list, input {
  width: 60%;
}

.App-form, label {
  width: 40%;
}

.List-button-img {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.List-actions-icons {
  width: 24px;
}

.Form-btn {
  padding: 1rem;
  width: 20rem;
}

.Form-items {
  align-items: center;
}

.Form-input {
  padding: 12px;
}
