body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

table, td, th {
  border: 1px solid black;
}

.my-1 {
  margin: 1rem 0;
}
.mx-1 {
  margin: 0 1rem;
}

.my-2 {
  margin: 2rem 0;
}
.mx-2 {
  margin: 0 2rem;
}

.py-1 {
  padding: 1rem 0;
}
.px-1 {
  padding: 0 1rem;
}

.py-2 {
  padding: 2rem 0;
}
.px-2 {
  padding: 0 2rem;
}
